body {
    /*margin-top: 20px;*/
}

.profile {
    width: 100%;
    position: relative;
    background: #FFF;
    border: 1px solid #D5D5D5;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.profile .image {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    height: 300px;
    /*border: 5px solid #FFF;*/
}

.profile .user {
    position: relative;
    padding: 0px 5px 5px;
}

.profile .user .avatar {
    position: absolute;
    left: 30px;
    top: -85px;
    z-index: 2;
    width: 130px;
    height: 130px;
    background-size: cover;
    background-image: url(../img/ncs.jpg);
    background-position: center;
    border: 5px solid #fff;
    outline: 1px solid #eee;
}

.club .weather {
    background: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.6)), url(http://hackncs.com/img/portfolio-03.jpeg) no-repeat center top;
    background-size: cover;
    background-position: center;
}

.profile .user h2 {
    font-size: 22px;
    line-height: 20px;
    display: block;
    float: left;
    margin: 4px 0px 0px;
    position: absolute;
    top: -45px;
    left: 180px;
    z-index: 2;
    color: #fff;
    font-weight: bold;
}

.profile .user .actions {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.profile .user .actions .btn {
    margin-bottom: 0px;
}

.profile .info {
    float: left;
    margin-left: 40px;
    /*width: 60%;*/
}

.img-profile {
    height: 100px;
    width: 100px;
}

.img-cover {
    /*width: 800px;*/
    width: 100%;
    /*height: 300px;*/
    height: auto;
}

.empty-panel i {
    margin-top: 55px;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
        border-radius: 3px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}