<link rel="stylesheet" href="/assets/css/club.css"/>
<base-wrap/>
<div class="row mt club">
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-12 mb">
                <div class="profile clearfix">
                    <div class="image">
                        <img src="/assets/img/clubs/{{ club.title }}.jpg" class="img-cover"/>
                    </div>
                    <div class="user clearfix">
                        <div class="avatar">
                            <!-- <img src="/assets/img/ncs.jpg"/> -->
                        </div>
                        <h2>{{ club.title | uppercase }} CLUB</h2>
                        <div class="actions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Add to friends">
                                    <!-- <span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span> -->
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Like
                                </button>
                                <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message">
                                    <!-- <span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span> -->
                                    <i class="fa fa-commenting" aria-hidden="true"></i>
                                    Message
                                </button>
                                <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Recommend">
                                    <span class="glyphicon glyphicon-share-alt glyphicon glyphicon-white"></span>
                                    Share
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="info">
                                <!-- <p>
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <span class="title">Address:</span>
                                    St. Revutskogo, Kiev, Ukraine
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-gift"></span>
                                    <span class="title">Date of birth:</span>
                                    14.02.1989
                                </p> -->
                                <p>
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    <strong class="title">Description:</strong>
                                    <br/>
                                    {{ club.desc }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 mt">
                            <a class="btn btn-theme mr pull-right" ng-href="/events/create?club={{ club.title | lowercase }}" target="_blank">
                                <i class="fa fa-plus"></i>
                                Create Event
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mt mb">
                <div class="white-panel bg-transparent">
                    <div class="white-header bg-orange header-title" ng-if="club.events.length> 0">
                        <h5 class="text-white">Ongoing Events</h5>
                    </div>
                    <div class="row">
                        <!-- <div class="col-sm-4 mb bg-orange">Ongoing Events</div> -->
                        <div class="col-sm-12 mb">
                            <div id="eventCarousel" class="carousel slide" data-ride="carousel" ng-if="club.events.length> 0">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#eventCarousel" data-slide-to="{{ $index }}" ng-repeat="event in club.events" ng-class="{ 'active': $index == 0}"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item" ng-repeat="event in club.events" ng-class="{ 'active': $index == 0}">
                                        <img ng-src="{{ event.image_url }}"/>
                                        <div class="carousel-caption">
                                            <a ng-href="/events/{{ event.id }}" class="text-white">
                                                <h3>{{ event.title }}</h3>
                                                <p>{{ event.desc }}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <span class="left carousel-control" data-target="#eventCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </span>
                                <span class="right carousel-control" data-target="#eventCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </span>
                            </div>
                            <div class="weather-3 centered ng-scope pn empty-panel bg-orange" ng-if="club.events.length ==  0">
                                <i class="fa fa-battery-empty"></i>
                                <h1>NO ONGOING EVENTS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /col-lg-9 END SECTION MIDDLE  -->
    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->
    <div class="col-lg-3 ds">
        <h3>TEAM MEMBERS</h3>
        <!-- First Member -->
        <div class="desc" ng-repeat="member in club.members">
            <div class="thumb">
                <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align=""/>
            </div>
            <div class="details">
                <p>
                    <a href="#">{{ member.name }}</a>
                    <br/>
                    <muted>{{ member.desc }}</muted>
                </p>
            </div>
        </div>
    </div>
    <!-- /col-lg-3  -->
</div>
</base-wrap>
