<!--
    <pre-loader ng-hide="isLoaded"></pre-loader>
-->
<base-wrap/>
<div class="row mt events">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb">
                <i class="fa fa-angle-right"></i>
                Create Event
            </h4>
            <form class="form-horizontal style-form" name="createForm" ng-submit="createEvent(createForm)" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Event Name</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="event.name" class="form-control" placeholder="Event Name" required/>
                    </div>
                </div>
                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Start Time</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="event.start_time" class="form-control" placeholder="Start Time"  datepicker/>
                            <span class="help-block">Gonna Use Datepicker</span>
                        </div>
                    </div>
                </datepicker>
                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">End Time</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="event.end_time" class="form-control" placeholder="End Time"/>
                            <span class="help-block">Gonna Use Datepicker</span>
                        </div>
                    </div>
                </datepicker>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Description</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="event.description" class="form-control" placeholder="Description" required/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-theme02 pull-right">
                        <i class="fa fa-check"></i>
                        Button
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- /col-lg-9 END SECTION MIDDLE  -->
</div>
</base-wrap>
