<!--
    <pre-loader ng-hide="isLoaded"></pre-loader>
-->
<script src="assets/js/fancybox/jquery.fancybox.js"></script>
<base-wrap/>
<!-- <h3>
    <i class="fa fa-angle-right"></i>
    Web Club
</h3> -->
<div class="row mt events">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-xs-12">
                <div class="weather pn" style="background-image: url('{{ event.image_url }}')">
                    <i class="fa fa-pencil fa-4x"></i>
                    <h2>{{ event.title | uppercase }}</h2>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-xs-12">
                <form name="form">
                    <button class="button" ngf-select ng-model="coverImage" name="coverImage" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ngf-capture="'camera'">
                        <!-- ngf-dimensions="$width > 1000 || $height > 400" -->
                        Select
                    </button>
                    <!-- ngf-resize="{width: 100, height: 100}" -->
                    Drop files:
                    <div ngf-drop ng-model="coverImage" class="drop-box">Drop</div>
                    <button type="submit" ng-click="uploadImg()">submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mt mb">
                <div class="white-panel">
                    <div class="white-header bg-orange">
                        <h5 class="text-white">Description</h5>
                    </div>
                    <div class="row">
                        <p>{{ event.desc }}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Starts At</strong>
                            <span class="ml">{{ event.start_time | date:'medium' }}</span>
                        </div>
                        <div class="col-md-6">
                            <strong>Ends At</strong>
                            <span class="mr">{{ event.end_time | date:'medium' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /col-lg-9 END SECTION MIDDLE  -->
    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->
    <div class="col-lg-3 ds">
        <h3>NOTIFICATIONS</h3>
        <!-- First Member -->
        <div class="desc" ng-repeat="user in users">
            <div class="thumb">
                <span class="badge bg-theme">
                    <i class="fa fa-clock-o"></i>
                </span>
            </div>
            <div class="details">
                <p>
                    <muted>{{ user.time }} Ago</muted>
                    <br/>
                    <a href="#">{{ user.name }}</a>
                    submitted the poster.
                </p>
            </div>
        </div>
    </div>
    <!-- /col-lg-3  -->
</div>
</base-wrap>
