<!--
    <pre-loader ng-hide="isLoaded"></pre-loader>
-->
<base-wrap/>
<h3>
    <i class="fa fa-angle-right"></i>
    Home
</h3>
<div class="row mt landing">
    <div class="col-lg-12">
        <div class="row club-row">
            <div class="col-xs-12 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel bg-transparent">
                    <div class="white-header bg-blue">
                        <h5 class="text-white">Clubs</h5>
                    </div>
                    <div class="row flex flex-center-h">
                        <div class="col-lg-3 col-md-6 col-sm-4 mb" ng-repeat="club in clubs" ng-switch="$index">
                            <!-- ng-class-even="'col-lg-offset-1'" -->
                            <div class="content-panel pn">
                                <div id="blog-bg">
                                    <div class="badge badge-popular">
                                        <i class="fa fa-code" ng-switch-when="0"></i>
                                        <i class="fa fa-laptop" ng-switch-when="1"></i>
                                        <i class="fa fa-github" ng-switch-when="2"></i>
                                        <i class="fa fa-pencil" ng-switch-when="3"></i>
                                    </div>
                                    <div class="blog-title text-capitalize">{{ club.title }} club</div>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        {{ $index }}
                                        {{ club.desc }}
                                        <a ng-href="/club/{{ club.title }}">View More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel bg-transparent">
                    <div class="white-header bg-orange">
                        <h5 class="text-white">Ongoing Events</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb" ng-repeat="event in events">
                            <div class="content-panel pn">
                                <div id="blog-bg" style="background-image: url('{{ event.image_url }}')">
                                    <!-- <div class="badge badge-popular">View</div> -->
                                    <div class="blog-title">{{ event.title }}</div>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        {{ event.desc }}
                                        <!-- <a href="#">View Event</a> -->
                                        <br/>
                                        <a class="btn btn-theme" ng-href="/events/{{ event.id }}">
                                            <i class="fa fa-cog"></i>
                                            View Event
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</base-wrap>
